/*=== GERAL =================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: hsl(147, 96%, 42%);
  --primary: hsl(258, 73%, 62%);
  --primary-dark: hsl(259, 52%, 48%);
  --shape-dark: hsl(240, 5%, 25%);
  --background: hsl(240, 5%, 7%);
  --background-2: hsl(240, 5%, 11%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  color: white;

  text-align: center;

  overflow: overlay;

  background-color: var(--background);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--green);

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
}

section header h1 {
  font-size: 3rem;
  line-height: 130%;

  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  line-height: 150%;
}

.button {
  border-radius: 0.5rem;

  width: fit-content;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  text-decoration: none;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 20rem;
}

.social-links li a svg {
  fill: var(--primary-dark);
}

.social-links li a {
  background-color: var(--background-2);
  padding: 1rem;
  display: flex;
  border-radius: 0.5rem;
  transition: 300ms;
}

.social-links li a:hover {
  background-color: var(--primary-dark);
}

.social-links li a:hover svg {
  fill: white;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  /*color: white;*/
}

.card {
  padding: 2.4rem;
  text-align: left;

  border: 1.5px solid var(--shape-dark);
  border-radius: 0.6rem;
}

#backToTopButton circle {
  fill: var(--primary);
}

/*=== NAVIGATION =================================*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;

  background-color: var(--background);

  border-bottom: 0.1px solid var(--shape-dark);
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*=== MENU-EXPANDED =================================*/
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--background);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu #login {
  margin-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-inline: auto;
}

.menu .button {
  background: none;
  border: 1px solid var(--primary-dark);

  font-size: 1.8rem;
  line-height: 2.3rem;

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 6rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

.menu .social-links {
  margin-inline: auto;
}
/*=== #HOME =================================*/
#home {
  padding-top: calc(10rem + var(--nav-height));
  padding-bottom: 6rem;

  background: url(./assets/background.png) no-repeat center;
  background-size: cover;
}

#home .button {
  margin-inline: auto;
  background-color: var(--primary);
  border: none;
  margin-bottom: 6rem;
  padding: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  transition: background 200ms;
}

#home .button:hover {
  background-color: var(--primary-dark);
}

#home p {
  margin-bottom: 3.2rem;
}

#home .stats {
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat {
  max-width: 28rem;
  margin-inline: auto;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: white;
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stat h3 span {
  color: var(--green);
}

#home .stat p {
  margin: 0;
}

/*=== SERVICES =================================*/
#services header h2 {
  margin-bottom: 6rem;
}

#services .card svg circle {
  fill: var(--primary);
}

#services .card svg path {
  stroke: white;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/*=== ABOUT =================================*/
#about {
  text-align: left;
  background-color: var(--background-2);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/*=== DEPOSITIONS =================================*/
#depositions header p {
  margin-top: 2.4rem;
  margin-bottom: 6.7rem;
}

#depositions .card {
  padding: 3.2rem;
  background-color: var(--background-2);
  margin-bottom: 3.2rem;
}

#depositions .card p {
  margin-block: 2rem;
}

#depositions .author {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  color: var(--primary-dark);
}

#depositions img {
  width: 4.2rem;
  border-radius: 50%;
}
/*=== CONTACT =================================*/
#contact {
  text-align: center;
  background-color: var(--background-2);
}

#contact header {
  margin-block: 3.2rem;
}

#contact header span {
  color: var(--green);
}

#contact .content p {
  margin-top: 2.4rem;
  margin-bottom: 6.7rem;
}

#contact .content .button {
  margin-inline: auto;
  border: 1px solid var(--primary-dark);
  padding: 2.5rem 4.5rem;
  margin-bottom: 0;
  background: linear-gradient(
    to right,
    var(--primary-dark) 50%,
    var(--background-2) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 400ms ease-out;
}

#contact .content .button:hover {
  background-position: left bottom;
}

/*=== FOOTER =================================*/
footer {
  background-color: var(--primary-color);
  padding-block: 6rem;

  text-align: left;

  border-top: 0.1px solid var(--shape-dark);
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: white;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;

  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

/* BACK TO TOP */
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*=== RESPONSIVO =================================*/
@media (min-width: 1024px) {
  /*=== GERAL =================================*/
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /*=== NAVIGATION =================================*/
  /* reset */
  nav#navigation .wrapper * {
    gap: 0;
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul:nth-child(2) {
    display: flex;
    gap: 2rem;
  }

  nav#navigation .menu ul:nth-child(1) li a {
    color: white;
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;

    padding: 1rem 2.4rem;

    color: white;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    transition: 300ms;
  }

  nav#navigation .menu #login {
    border: none;
    gap: 1.6rem;
  }

  nav#navigation .menu #register:hover {
    background-color: var(--primary);
  }

  nav#navigation .menu li a {
    transition: opacity 0.4s;
  }

  nav#navigation .menu ul:nth-child(1) li a.active,
  nav#navigation .menu ul:nth-child(1) li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu ul:nth-child(1) li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary);

    position: relative;
    bottom: -2rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation .menu ul:nth-child(1) li a.active::after,
  nav#navigation .menu ul:nth-child(1) li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  /*=== HOME =================================*/
  #home {
    padding-top: var(--nav-height);
    height: 100vh;
    padding-block: 16rem;
  }

  #home .wrapper {
    grid-template-rows: 2.5fr 1fr;
    grid-template-areas:
      'A'
      'B';
    gap: 5rem;
  }

  #home .col-a {
    text-align: center;
    align-self: center;
  }

  #home h4 {
    font-size: 1.8rem;
  }

  #home h1 {
    font-size: 5.6rem;
    max-width: 86rem;
    margin-inline: auto;
  }

  #home .content p {
    max-width: 55rem;
    margin-inline: auto;
  }

  #home .content a {
    margin-inline: auto;
    padding: 1.6rem 3.2rem;
    font-size: 1.6rem;
  }

  #home .stats {
    flex-direction: row;
    gap: 0;
  }

  #home .stats .stat + .stat {
    border-left: 3px solid var(--primary);
    margin-left: 3rem;
    padding-left: 3rem;
  }

  #home .stats .stat {
    flex: 1;
    margin: 0;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  /*=== SERVICES =================================*/
  #services h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }

  /*=== ABOUT =================================*/
  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /*=== DEPOSITIONS =================================*/
  #depositions .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 26.7rem);
    gap: 3.2rem;
  }

  #depositions header {
    text-align: left;
  }

  #depositions .card {
    margin: 0;
  }

  /*=== CONTACT =================================*/
  #contact .wrapper {
    grid-template-columns: 57rem 1fr;
    grid-template-areas: 'B A';
    gap: 3rem;
  }

  #contact .col-b {
    text-align: left;
  }

  #contact .content .button {
    margin: 0;
  }

  /*=== FOOTER =================================*/
  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-a {
    align-self: center;
  }

  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }

  footer p {
    margin-bottom: 0;
  }
}
